.thcfg .inside {
    padding: 15px;
}

.thcfg_color fieldset {
    overflow:auto;
    margin: 10px 0 10px 0;
    background: white;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 8px;
    display: block;
}

.thcfg_color fieldset h3 {
    display: block;
    background: rgb(223, 223, 223) url("../../../../wp-admin/images/gray-grad.png") repeat-x left top;
    text-shadow: white 0 1px 0;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 9px;
    margin: 0;
    line-height: 1;
    border: 0 none;
    border-spacing: 0px;
}

.thcfg .credits {
    margin: 20px 0;
}

#thcfg_settings .selector {
    float: left;
    width: 200px;
    border-right: 1px solid rgb(223, 223, 223);
}

#thcfg_settings .colorselector {
    padding: 5px 15px;
}

#thcfg_settings .colorselector.selected {
    background-color: rgb(234, 242, 250);
}

#thcfg_settings li.colorvalue {
    margin-left: 200px;
    padding: 5px 15px;
    display:none;
}

#thcfg_settings .colorvalue.selected {
    display:block;
}

.thcfg_color li {
    overflow: auto;
}

.thcfg label {
    font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
    display: block;
    float: left;
    width: 200px;
    clear: left;
}

#thcfg_tags, #thcfg_pages, .thcfg li input {
    border-width: 1px;
    border-style: solid;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    width: 700px;
}

#thcfg_settings li.colorvalue {
    padding: 20px;    
}

#thcfg_settings input.colorvalue {
    width: 80px;
}

#thcfg_settings li.colorvalue label {
    width: 100px;
}

#thcfg_settings .color-sample {
    float: left;
    width: 30px;
    height: 16px;
    border: 1px solid #000;
    background-color: #666;
    clear: none;
    margin-right: 10px;
}

.thcfg .setfooter {
    background-color: #f1f1f1;
    height: 15px;
    padding: 7px 9px;
}

.thcfg td.draghandle {
    background: #e8e8e8 url('img/grip.png');
}

.thcfg th.draghandle, .thcfg td.draghandle {
    width: 18px;
}

.thcfg td.itemrem, .thcfg th.itemrem {
    width: 40px;
}

.thcfg th.id, .thcfg td.id {
    width: 200px;
}

.thcfg table input {
    width: 100%;
}

.thcfg .saveas {
    display: block;
    clear: both;
    float: none;
}

.thcfg_tabwrap {
    background-color: white;
    border-color: rgb(223, 223, 223);
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    padding: 12px;
    margin-bottom: 8px;
}

.thcfg_tabs li
{
    display: inline;
    list-style-type: none;
    margin-left: 2px;
    padding: 8px;
    background-color: #f1f1f1;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -khtml-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    border-color: #dfdfdf;
    border-width: 1px;
    border-style: solid;
}

.thcfg_tabs li.thcfg_selected {
    background-color: white;
    border-bottom-color: white;
}

.thcfg_tabs {
    margin-bottom: 6px;
    margin-top: 12px;
    clear: right;
}

.thcfg_tabwrap h3 {
    margin: 0 0 1em 0;
}

.thcfg_control li {
    display: inline; list-style-type: none; padding-left: 2px;    
}

.thcfg_overview select {
    width: 400px;
    height: 200px !important;
}

.thcfg_control {
    margin-top: 12px;
}

.thcfg fieldset label {
    width: 30%;
}

.thcfg fieldset input {
    width: 60%;
}

.thcfg fieldset {
    margin-top: 20px;
}

.thcfg h4 {
    margin-top: 0;
}

.thcfg_dimension fieldset label {
    width: 20%;
}

.thcfg_left {
    float: left;
    width: 350px;
}

.thcfg li .thcfg_left input {
    width: 50px;
}

.thcfg li .thcfg_left label {
    width: 250px;
}

.thcfg_right {
    padding: 7px;
    float: left;
    width: 515px;
    clear: right;
}

.thcfg_dimension li {
    clear: both;
}

.thcfg li .thcfg_knob {
    width: 500px;
}